@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-dark-blue-main);
  font-family: "Outfit", sans-serif;
}

p {
  font-size: 18px;
}
hr {
  margin-bottom: 1rem;
  color: var(--clr-dark-blue-line);
}
a {
  color: var(--clr-white);
  text-decoration: none;
}
a:hover {
  color: var(--clr-cyan);
}
